<h1>Bonjour, votre inscription a bien été prise en compte</h1>

<p>
    Vous pouvez revenir sur le site via ce lien<br><br>
    <a href="{{ url('app_login') }}">SnowTricks</a>.
    {# This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}. #}
</p>

<p>
    Cheers!
</p>
