#mainNavbar2{
    margin-right: 5%;
    margin-left: 5%;
    background-color: whitesmoke;
}

#mainNavbar li{
    text-decoration: none;
    background-color: whitesmoke;
    list-style-type: none;
}

#mainNavbar2 .nav-item{
    color:black;
    text-decoration: none;
    list-style-type: none;
}
#mainNavbar2 .nav-item .active ,#mainNavbar2 .nav-item .nav-link{
    color:black;
    text-decoration: none;
    list-style-type: none;
}

h2{
    font-size: 2vw;
}

p{
    font-size: 1.2vw;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 992px)
{
    p,h2{
        font-size: 5vw;
    }
}
